#banner {
  background-image: url('../../img/banner/background.jpg');
  background-attachment: cover;
  background-size: 100% 100%;
  background-position: top;
  overflow:hidden;
  max-height: 800px;

  img {
    max-width: 400px;
    width: 100%;
  }
}