footer {
    border-top: 1px solid #dee2e6;
    p {
        margin-bottom: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $primary-color;
                text-decoration: none;
                &:hover {
                    color: $secondary-color;
                    text-decoration: underline;
                }
            }
        }
    }
}