<ul class="nav d-flex justify-content-evenly">
  <li class="p-2 nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
  <li class="p-2 nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About Me</a></li>
  <li class="p-2 nav-item"><a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
  <li class="p-2 nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Me</a></li>
</ul>
