@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script:wght@400;700&display=swap');
@font-face {
  font-family: 'Mokoto Glitch Mark 2';
  src: url(../fonts/Mokoto_Glitch_Mark_2.otf);
  src: url(../fonts/Mokoto_Glitch_Mark_2.ttf);
}